

p{
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo{
        width: 12rem;
        height: 5rem;
    }
    
    .button{
        padding: 0.5rem 1rem;
        font-size: 1rem;
        background-color: #E50914;
        color: white;
        border: none;
        border-radius: 4px;
        height: max-content;
    }

    .button:hover,
    .logo:hover{
        cursor: pointer;
    }

}

