
<app-backgroung-image></app-backgroung-image>
    

    <div class="rootCont">  

        <div class="container">
            <div>
                <app-header></app-header>
            </div>


            <div class="content">
                <h1 class="unlimited">Unlimited movies, TV shows and more.</h1>
                <p class="watch">Watch anywhere. Cancel anytime</p>
                <P class="ready">Ready to watch? Enter your email to create or restart your membership.</P>


                <div class="email">

                    <div class="emailbox">
                        <label for="email">Email address</label>
                        <input name="email" type="email" class="input" />
                    </div>

                    <button class="submit">Get Started > </button>
                </div>

            </div>
        </div>

        
    </div>

    <div class="hello">
        <h1>hello world</h1>
        <h1>hello world</h1>
        <h1>hello world</h1>
        <h1>hello world</h1>
        <h1>hello world</h1>
    </div>

